<div class="big-card__container">
  <div class="big-card__photo">
    <img
      src="https://www.angularjswiki.com/angular/use-ngoptimizedimage-to-improve-image-loading-performance-in-angular/featured.png"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Saiu a nova versão do angular!</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
      veritatis maiores recusandae officiis reiciendis adipisci similique
      voluptate deleniti consequuntur, odio, ea aut id sed perferendis eligendi
      consequatur assumenda exercitationem quos.
    </p>
  </div>
</div>
