<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles-main">
    <app-big-card
      photoCover="https://www.google.com/url?sa=i&url=https%3A%2F%2Fgeekpersonalizado.com.br%2Fproduto%2Fcaixa-homem-de-ferro%2F&psig=AOvVaw0COwmqf59WPgBvn80RdEx0&ust=1684870077426000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPDj_qrUif8CFQAAAAAdAAAAABAE"
      cardTitle="Novo Homem de Ferro em 3D"
      cardDescription="Marvel Anuncia Novo Homem de Ferro"
    ></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
      photoCover="https://www.angularjswiki.com/angular/use-ngoptimizedimage-to-improve-image-loading-performance-in-angular/featured.png"
      cardTitle="Saiu  a nova versão do Angular!"
    ></app-small-card>
    <app-small-card
      photoCover="https://www.angularjswiki.com/angular/use-ngoptimizedimage-to-improve-image-loading-performance-in-angular/featured.png"
      cardTitle="Saiu  a nova versão do Angular!"
    ></app-small-card>
    <app-small-card
      photoCover="https://www.angularjswiki.com/angular/use-ngoptimizedimage-to-improve-image-loading-performance-in-angular/featured.png"
      cardTitle="Saiu  a nova versão do Angular!"
    ></app-small-card>
  </div>
</div>
